<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.lab2.mapper.FileMapper">

	<insert id="insert">
		insert into zip_viewer.file (file_id, user_id, file_name, file_size, file_upload_time) values
		(#{fileId}, #{userId}, #{fileName}, #{fileSize}, #{fileUploadTime})
	</insert>

	<resultMap id="userFileMap" type="com.lab2.domain.FileVO">
	        <id property="fileId" column="file_id"/>
	        <result property="userId" column="user_id"/>
	        <result property="fileName" column="file_name"/>
	        <result property="fileSize" column="file_size"/>
	        <result property="fileUploadTime" column="file_upload_time"/>
	</resultMap>
	<select id="listAll" resultMap="userFileMap">
		<![CDATA[
		select
		 *
		from
		 zip_viewer.file
		where
		 user_id = "admin"
		]]>
	</select>

</mapper>